<h2>Album Name: <%= @album.name %></h2>
<h3>Artist: <%= @album.artist %></h3>
<h3>Year: <%= @album.year %></h3>
<h3>Genre: <%= @album.genre %></h3>


<p><a href="/albums/<%= @album.id %>/edit">Edit album</a></p>
<a href="/albums">Return to album list</a>
