<h2>Song: <%= @song.name %> </h2>
<h3>Album: <%=@song.album.name%> </h3>

<form action="/albums/<%= @song.album.id %>/songs/<%= @song.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="name">Rename song</label>
  <input type="text" name="name">
  <button type="submit">Update song</button>
</form>
<form action="/albums/<%@song.album.id %>/songs/<%=@song.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete song</button>
</form>

<a href="/albums/<%= @song.album.id %>">Back to <%= @song.album.name %></a>
